.homeContainer{
  overflow: hidden;
  display: block;
  height: 100vh;
  position: relative;
}
.overlay{
  width:100%;
  height:100%;
  z-index:1;
  position:absolute;
  left:0;
  top:0;
  background-image: repeating-linear-gradient(rgba(0,0,0,0.3) 0,transparent 2px,transparent 2px,rgba(0,0,0,0.3) 3px);
}
.overlay::after{
  display: block;
    position: absolute;
    top: -200px;
    left: -25%;
    content: "";
    width: 150%;
    height: 200px;
    filter: blur(4px);
    background: #000;
    opacity: 0.1;
    z-index: 10000;
    animation-name: screenLine;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
}
.screen{
  width: 100%;
  height: 100%;
  /* background-color: #6692c1; */
  background-image: url('../public/images/firstBg.jpg');
  background-size: cover;
}
.screen .folderContainer{
  position: relative;
  z-index: 2;
  top: 25px;
  display: inline-block;
  left: 30px;
}
.screen .folderContainer:hover{
  cursor: pointer;
}
.screen .folderContainer .folder{
  background-image: url('../public/images/openFolder.png');
  width: 75px;
  height: 75px;
  background-size: cover;

  /* top: 5%;
  left: 2.5%; */
}
.screen .folderContainer .folderName{
  text-align: center;
  color: #ffffff;
  font-size: .95rem;
  font-weight: normal;
}
.screen .folderContainer:hover .folderName{
  text-decoration: underline;
}
.screen .modal{
  position: absolute;
  top: 5%;
  left: 2.5%;
  opacity: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: 0.75s all steps(10, end);
  /* border: 1.5px solid black; */
  z-index: 1;
  
  overflow: hidden;
}
.screen .modal.active{
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.75s all steps(10, end);
  animation: 1s scaleModal ease-in forwards;
  animation-delay: 1s;
}
.mainGrid{
  /* position:absolute;
  top: 0;
  left:0;
  margin-left: -49.6%;
  width: 200%;
  height: 76.3%;
  background-position-y: 0;
  background-image:
        repeating-linear-gradient(90deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--main-grid-size),var(--grid-color,black) calc(var(--main-grid-size) + 1px + var(--grid-blur,0px))),repeating-linear-gradient(180deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--main-grid-size),var(--grid-color,black) calc(var(--main-grid-size) + 1px + var(--grid-blur,0px)));
  z-index: 0;
  border-bottom: 2px solid var(--grid-color); */
}
.movingBottomGrid{

  position:absolute;
  bottom: -40%;
  left:0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image:
        repeating-linear-gradient(90deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--grid-size),var(--grid-color,black) calc(var(--grid-size) + 1px + var(--grid-blur,0px))),repeating-linear-gradient(180deg,var(--grid-color,black) 0%,transparent calc(1px + var(--grid-blur,0px)), transparent var(--grid-size),var(--grid-color,black) calc(var(--grid-size) + 1px + var(--grid-blur,0px)));
  transform:perspective(50vh) rotateX(60deg) translateZ(10px);
  animation:moving-grid 0.5s infinite linear;
  z-index:-1;
}
@media(max-width: 700px){
  .screen .folderContainer .folder{
    width: 50px;
    height: 50px;
  }
}

@keyframes moving-grid{
  0%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(-var(--grid-size));
  }
  100%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size));
  }
}
@keyframes moving-grid-rev{
  0%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(-var(--grid-size));
    
  }
  100%{
    transform:perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size));
  }
}
@keyframes scaleModal{
  0%{
    width: 50%;
    height: 50%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}
@keyframes screenLine {
  0% {top: -200px;}
  50% {height: 100px;}
  100% {top: 100%;}
}
